<footer class="footer">

    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                      <h2 class="footer-title">For Patients</h2>
                      <ul>
                          <li><i class="fa fa-angle-double-right fa-12 text-white"></i><a href="search.html">Search for Doctors</a></li>
                          <li><i class="fa fa-angle-double-right fa-12 text-white"></i><a href="login.html">Login</a></li>
                          <li><i class="fa fa-angle-double-right fa-12 text-white"></i><a href="register.html">Register</a></li>
                          <li><i class="fa fa-angle-double-right fa-12 text-white"></i><a href="booking.html">Booking</a></li>
                          <li><i class="fa fa-angle-double-right fa-12 text-white"></i><a href="patient-dashboard.html">Patient Dashboard</a></li>
                      </ul>
                  </div>
                    <!-- /Footer Widget -->

                </div>

                <div class="col">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">For Doctors</h2>
                        <ul>
                            <li><i class="fa fa-angle-double-right fa-12 text-white"></i><a href="search.html">Search for Doctors</a></li>
                            <li><i class="fa fa-angle-double-right fa-12 text-white"></i><a href="login.html">Login</a></li>
                            <li><i class="fa fa-angle-double-right fa-12 text-white"></i><a href="register.html">Register</a></li>
                            <li><i class="fa fa-angle-double-right fa-12 text-white"></i><a href="booking.html">Booking</a></li>
                            <li><i class="fa fa-angle-double-right fa-12 text-white"></i><a href="patient-dashboard.html">Patient Dashboard</a></li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->

                </div>

                <div class="col">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">For Pharmacy</h2>
                        <ul>
                            <li><i class="fa fa-angle-double-right fa-12 text-white"></i><a href="appointments.html">Appointments</a></li>
                            <li><i class="fa fa-angle-double-right fa-12 text-white"></i><a href="chat.html">Chat</a></li>
                            <li><i class="fa fa-angle-double-right fa-12 text-white"></i><a href="login.html">Login</a></li>
                            <li><i class="fa fa-angle-double-right fa-12 text-white"></i><a href="doctor-register.html">Register</a></li>
                            <li><i class="fa fa-angle-double-right fa-12 text-white"></i><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->

                </div>

                <div class="col">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                      <h2 class="footer-title">For Clinic</h2>
                      <ul>
                          <li><i class="fa fa-angle-double-right fa-12 text-white"></i><a href="search.html">Search for Doctors</a></li>
                          <li><i class="fa fa-angle-double-right fa-12 text-white"></i><a href="login.html">Login</a></li>
                          <li><i class="fa fa-angle-double-right fa-12 text-white"></i><a href="register.html">Register</a></li>
                          <li><i class="fa fa-angle-double-right fa-12 text-white"></i><a href="booking.html">Booking</a></li>
                          <li><i class="fa fa-angle-double-right fa-12 text-white"></i><a href="patient-dashboard.html">Patient Dashboard</a></li>
                      </ul>
                  </div>

                </div>


                <div class="col">

                  <!-- Footer Widget -->
                  <div class="footer-widget footer-menu">
                    <h2 class="footer-title">For Lab</h2>
                    <ul>
                        <li><i class="fa fa-angle-double-right fa-12 text-white"></i><a href="search.html">Search for Doctors</a></li>
                        <li><i class="fa fa-angle-double-right fa-12 text-white"></i><a href="login.html">Login</a></li>
                        <li><i class="fa fa-angle-double-right fa-12 text-white"></i><a href="register.html">Register</a></li>
                        <li><i class="fa fa-angle-double-right fa-12 text-white"></i><a href="booking.html">Booking</a></li>
                        <li><i class="fa fa-angle-double-right fa-12 text-white"></i><a href="patient-dashboard.html">Patient Dashboard</a></li>
                    </ul>
                </div>

              </div>

            </div>
        </div>
    </div>
    <!-- /Footer Top -->

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container-fluid">

            <!-- Copyright -->
            <div class="copyright">
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <div class="copyright-text">
                            <p class="mb-0">&copy; 2020 Novita. All rights reserved.</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4">
                      <img src="../../assets/images/footer-logo.png" class="img-fluid">
                      <div class="d-flex">
                        <div class="social-icon">
                          <ul class="mt-3">
                            <li>
                              <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                            </li>
                            <li>
                              <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                            </li>
                            <li>
                              <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                              <a href="#" target="_blank"><i class="fab fa-whatsapp"></i> </a>
                              <li>
                              <a href="#" target="_blank"><i class="fab fa-telegram"></i> </a>
                            </li>

                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-lg-4">

                        <!-- Copyright Menu -->
                        <div class="copyright-menu">
                            <ul class="policy-menu">
                                <li><a href="term-condition.html">Terms and Conditions</a></li>
                                <li><a href="privacy-policy.html">Policy</a></li>
                            </ul>
                        </div>
                        <!-- /Copyright Menu -->

                    </div>
                </div>
            </div>
            <!-- /Copyright -->

        </div>
    </div>
    <!-- /Footer Bottom -->

</footer>
<!-- /Footer -->
