<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Book Test</li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Book Test</h2>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container">
    <div class="row mt-2">
      <div class="col-md-9">
          <div class="row">
             <div class="col-md-5">
                  <img src="http://3.14.150.254:8000{{individualtest.image}}" class="w-100">
              </div>
              <div class="col-md-7">
                  <h3 class="text">{{individualtest.test_name}}</h3>
                  <p class="mt-2">Also known as<span class="font-weight-bold"> Complete Blood Count Automated Blood</span></p>
                  <p class="mt-3 text-justify">{{individualtest.discription}}</p>
              </div>
           </div>
      </div>

      <div class="col-md-3">

           <div class="c-cart ">
               <div class="six">
                   <div class="seven">
                       <div class="c-shopping-cart__upper-wrapper__left">
                           <span class="u-font-bold">Your Cart</span>
                           <span>0 Tests</span>
                       </div>
                   </div>
                    <div class="eight">

                   </div>
                   <a>

                         <a href="#" class="btn btn-primary btn-block text-white" data-toggle="modal" data-target="#addcart">Add to Cart</a>

                   </a>
                </div>
              </div>

      </div>
    </div>


    <div class="row mt-5">
      <div class="col-md-9 tab-content">
           <div class="row">
               <div class="col-md-3 text-center">
                    <img src="../../assets/images/dignostics/trust.png">
                    <h6 class="u-font-bold mt-2">Home sample collection for FREE</h6>
                    <p class="mt-2">A certified professional will collect your sample from a location of your preference.</p>
               </div>

               <div class="col-md-3 text-center">
                    <img src="../../assets/images/dignostics/ontime.png">
                    <h6 class="u-font-bold mt-2">
                        Practo Associate Labs: Labs with industry standards</h6>
                    <p class="mt-2">To ensure the accuracy of reports.</p>
               </div>

               <div class="col-md-3 text-center">
                    <img src="../../assets/images/dignostics/digitalreport.png">
                    <h6 class="u-font-bold mt-2">
                        Digital reports</h6>
                    <p class="mt-2">Access your reports anytime on your Practo account. We will email you a copy.</p>
                </div>

                <div class="col-md-3 text-center">
                      <img src="../../assets/images/dignostics/offers.png">
                       <h6 class="u-font-bold mt-2">Offers and affordable prices</h6>
                         <p class="mt-2">Get great discounts and offers on tests and packages.</p>
                </div>
           </div>
      </div>
  </div>


  <!--navtabs-->

  <ul class="nav nav-tabs mt-5" role="tablist">
    <li class="heading">
      <a class="nav-link font-weight-bold active" data-toggle="tab" href="#home">What is this test?</a>
    </li>
    <li class="nav-item heading">
      <a class="nav-link font-weight-bold" data-toggle="tab" href="#menu1">Test Preparation</a>
    </li>
    <li class="nav-item heading">
      <a class="nav-link font-weight-bold" data-toggle="tab" href="#menu2">Understanding your test results </a>
    </li>
  </ul>



  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
     <h4 class="u-font-bold">What is this test?</h4>
     <p class="mt-2">Complete Blood Count (CBC) is a blood test that measures Red blood cells (RBC), White blood cells (WBC), Platelets (PLTs), Hemoglobin (Hb), and Hematocrit (Hct) in the blood. This test is used to determine the overall health and screen for any diseases that affect the blood cells.</p>

     <h4 class="u-font-bold mt-3">What is Blood cells, Hemoglobin, and Hematocrit?</h4>
     <p class="mt-2">Blood is composed of cells and necessary substances such as nutrients and oxygen needed for the health. The blood cells are produced in bone marrow and are released into the blood. It provides nutrients and helps in the transport of gases within cells and tissues.</p>
     <p class="mt-3">The three main types of blood cells are:</p>

     <h4 class="u-font-bold mt-3">Red Blood Cells (RBC):</h4>
     <p class="mt-2"><li> Red blood cells contain a complex protein called hemoglobin. It carries oxygen to the body's organs and tissues from the lungs.</li></p>

     <h4 class="u-font-bold mt-3">White Blood Cells (WBC):</h4>
     <p class="mt-2"><li>White blood cells also called as leukocytes that help to protect the body against infections and foreign invaders, thus an important part of our immune system.</li></p>
     <p class="mt-2"><li>These cells are originated from bone marrow but circulate throughout the bloodstream.</li></p>

     <h4 class="u-font-bold mt-3">Platelets (PLTs):</h4>
     <p class="mt-2"><li>Platelets are the smallest blood cells that help the blood to clot during bleeding.</li></p>
     <p class="mt-3">Hemoglobin and Hematocrit are other two important substances in the blood. Hemoglobin is a complex protein found in red blood cells. It carries oxygen to the body's organs and tissues from the lungs. It also transports carbon dioxide from the body back to the lungs. Hematocrit is the percentage of red blood cell found in the whole blood.</p>

     <h4 class="u-font-bold mt-3">Why this test is performed?</h4>
     <p class="mt-2">This test is performed as part of a routine check-up to monitor the overall health of an individual. Your doctor may ask you to perform this test to diagnose or to screen for diseases and conditions such as anemia, infections, cancer, or any bleeding disorder. This test is also recommended by your doctor if you experience any signs or symptoms such as weakness, fatigue, shortness of breath, headache, dizziness, pale skin, cold hands, and feet, etc. These are some of the common signs and symptoms which may be associated with anemia or polycythemia.</p>
     <p class="mt-2">You may be advised to undergo this test if you are pregnant, have a family history of anemia, are suffering from an infection, have had blood loss after surgery, are suffering from heavy and prolonged menstrual bleeding, etc. This test is also performed to monitor the treatment response in individuals receiving treatment for diseases or conditions that affect blood cells.</p>

     <h4 class="u-font-bold mt-3">How often this test is performed?</h4>
     <p class="mt-2">If you have a family history of blood disorders or conditions that affect blood cells, your doctor may ask you to perform this test on a 6-monthly basis or a yearly basis. Anemic patients should perform this test on a regular basis, as instructed by the doctor.</p>
     <p class="mt-2">Pathology test parameters: Red blood cells (RBC), White blood cells (WBC), Platelets (PLTs), Hemoglobin (Hb) and Hematocrit (Hct).</p>
     <p class="mt-2">Also known as <span class="font-weight-bold"> CBC Automated Blood, Complete Blood Picture Automated Blood, CBP Automated Blood, Absolute Blood Count Automated Blood, Complete Blood Count, Platelet Test, WBC Test, Absolute Count, CBC, CBP, Complete Count, Complete Picture, Neutrophils Test, Hb PCV Test.</span></p>

    </div>
    <div id="menu1" class="container tab-pane fade"><br>
          <p class="mt-2">Inform your doctor if you are on any medications, have any allergies or underlying medical conditions before your CBC Test. Your doctor will give specific instructions depending on your condition on how to prepare for CBC Test.<br>

            No specific preparation is required for this test. However, follow all the instructions given by your healthcare provider.</p>
    </div>
    <div id="menu2" class="container tab-pane fade"><br>
         <p class="mt-2">Generally, there is no need for medical interventions if test results are in normal range.</p>
         <p class="mt-2">If the red blood cells, hemoglobin, and hematocrit levels are lower than the normal range, it may indicate different types of anemia such as iron deficiency anemia, sickle cell anemia, etc. Some medical conditions such as hypothyroidism, splenomegaly (an enlarged spleen), leukemia (a type of blood cancer), chronic kidney disease, internal bleeding due to a stomach ulcer, stomach or colon cancer, etc. may also cause low levels. Deficiency of iron, vitamin B-12, and folic acid; recent blood donations; heavy prolonged menstrual bleeding, etc. may also result in low levels.</p>
         <p class="mt-2">If the red blood cells, hemoglobin, and hematocrit levels are higher than the normal range, it may indicate a condition called polycythemia, a type of cancer where the bone marrow produces too many red blood cells. Medical conditions such as heart or lung diseases, dehydration, etc. may also result in higher levels.</p>
         <p class="mt-2">If the white blood cell count is lower than the normal range, it may indicate autoimmune disorder like lupus and ulcerative colitis, bone marrow problems, or cancer.</p>
         <p class="mt-2">If the white blood cell count is higher than the normal range, it may indicate bacterial infections like tuberculosis, viral infections, and fungus. Use of certain medications such as steroids, lithium, and some inhalers may also increase the white blood count.</p>
         <p class="mt-2">Lower than the normal levels of platelet count is known as thrombocytopenia. This may occur due to medical conditions such as leukemia (a type of blood cancer), aplastic anemia, viral infections, some autoimmune disorders, splenomegaly (an enlarged spleen), cirrhosis of the liver, kidney dysfunction, etc. Other factors such as chemotherapy drugs (cancer medicines); vitamin B12, iron, or folic acid deficiency; chronic alcohol use, etc. may also cause thrombocytopenia.</p>
         <p class="mt-2">Higher than the normal levels of platelet count is known as thrombocytosis. Thrombocytosis is categorized as primary or essential thrombocytosis and secondary thrombocytosis. Primary thrombocytosis is an uncommon disorder; it generally occurs in individuals greater than 50 years of age, especially in women. It occurs when your bone marrow produces too many platelets. Secondary thrombocytosis may occur due to an ongoing disease condition, certain infections, cancer, anemia, major surgery or trauma, removal of the spleen, etc. Based on the test results, your doctor may advise appropriate medical treatments, lifestyle modifications, or further diagnostic tests.</p>

            <table class="tuble m-auto">
                <thead>
                  <td class="u-font-bold">Gender</td>
                  <td class="u-font-bold">Age Groups</td>
                  <td class="u-font-bold">value</td>
                </thead>

               <tbody>
                 <tr>
                    <td class="gender">UNISEX</td>
                    <td class="age">All age groups</td>
                    <td class="value">WBC-4000 to 11000 cells</td>
                 </tr>
                 <tr>
                  <td class="gender">UNISEX</td>
                  <td class="age">All age groups</td>
                  <td class="value">40-70%</td>
                 </tr>
                 <tr>
                <td class="gender">UNISEX</td>
                <td class="age">All age groups</td>
                <td class="value">20-40%</td>
               </tr>
               <tr>
              <td class="gender">UNISEX</td>
                          <td class="age">All age groups</td>
                          <td class="value">2-10%</td>
               </tr>
               <tr>
              <td class="gender">UNISEX</td>
              <td class="age">All age groups</td>
              <td class="value">1-2%</td>
               </tr>
               <tr>
              <td class="gender">UNISEX</td>
              <td class="age">All age groups</td>
              <td class="value">1-8%</td>
               </tr>
               <tr>
                <td class="gender">MALE</td>
                <td class="age">All age groups</td>
                <td class="value">4.32-5.72 million/mcL</td>
               </tr>
               <tr>
              <td class="gender">FEMALE</td>
              <td class="age">All age groups</td>
              <td class="value">3.9-5.03 million/mcL</td>
             </tr>
             <tr>
            <td class="gender">MALE</td>
            <td class="age">All age groups</td>
            <td class="value">40.7-50.3%</td>
           </tr>
           <tr>
          <td class="gender">FEMALE</td>
          <td class="age">All age groups</td>
          <td class="value">36.1 to 44.3%</td>
         </tr>
         <tr>
        <td class="gender">MALE</td>
        <td class="age">All age groups</td>
        <td class="value">13.8-17.2 gm/dl</td>
       </tr>
       <tr>
      <td class="gender">FEMALE</td>
      <td class="age">All age groups</td>
      <td class="value">12.5-15.1g/dl</td>
    </tr>
    <tr>
      <td class="gender">UNISEX</td>
      <td class="age">All age groups</td>
      <td class="value">80-95fl</td>
    </tr>


                  </tbody>
            </table>
    </div>
  </div>
  <!--navtabs-->



  <div class="row mt-5 w-100">
    <h3 class="w-100">Popular Health Checkup Packages</h3>
   <div class="col-md-4 mt-2">
    <div class="card">
      <img class="card-img-top" src="../../assets/images/dignostics/dig2.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Active Professional Health Checkup</h4>
        <p class="para">Ideal for Individuals Aged <span class="u-font-bold">41-60 years</span> </p>
        <a href="#" class="btn btn-primary text-white">See Profile</a>
      </div>
      </div>
      </div>

      <div class="col-md-4 mt-2">
      <div class="card">
        <img class="card-img-top" src="../../assets/images/dignostics/dig3.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Advanced Young Indian Health Checkup</h4>
          <p class="para">Ideal for Individuals Aged <span class="u-font-bold">21-20 years</span> </p>
          <a href="#" class="btn btn-primary text-white">See Profile</a>
        </div>
      </div>
      </div>

      <div class="col-md-4 mt-2">
      <div class="card">
        <img class="card-img-top" src="../../assets/images/dignostics/dig4.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Comprehensive Active Professional Health</h4>
          <p class="para">Ideal for Individuals Aged <span class="u-font-bold">41-60 years</span> </p>

          <a href="#" class="btn btn-primary text-white">See Profile</a>
        </div>
      </div>
    </div>
      <div class="text-center mx-auto my-5">
        <a href="#" class="btn btn-primary text-white">Load More</a>
      </div>

</div>



  </div><!--container-->

</div>
<!-- /Page Content -->


<!--modal box here-->
    <!-- The Modal -->
<div class="modal" id="addcart">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-blue">
        <h4 class="modal-title text-white">Add Cart</h4>
        <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">


        <div class="form-group">
          <label for="user">Username</label>
          <input type="text" class="form-control" placeholder="Enter username" id="username">
        </div>


        <div class="form-group">
          <label for="labname">Lab Name</label>
          <input type="text" class="form-control" placeholder="Enter Lab Name" id="labname">
        </div>

        <div class="form-group">
          <label for="starttime">Start Time</label>
          <input type="time" class="form-control" placeholder="Enter email" id="starttime">
        </div>


        <div class="form-group">
          <label for="endtime">End Time</label>
          <input type="time" class="form-control" placeholder="Enter email" id="endtime">
        </div>


        <div class="form-group">
          <label for="date">Date</label>
          <input type="date" class="form-control" placeholder="Enter email" id="date">
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<!--modal box here-->
