<ul>
  <li>
    <a [routerLink]="['/patient/patientdashboard']">
      <i class="fas fa-columns"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <li class="active">
    <a [routerLink]="['/patient/favourites']">
      <i class="fas fa-bookmark"></i>
      <span>Favourites</span>
    </a>
  </li>
  <li>
    <a [routerLink]="['/patient/message']">
      <i class="fas fa-comments"></i>
      <span>Message</span>
      <small class="unread-msg">23</small>
    </a>
  </li>
  <li>
    <a [routerLink]="['/patient/profilesettings']">
      <i class="fas fa-user-cog"></i>
      <span>Profile Settings</span>
    </a>
  </li>
  <li>
    <a [routerLink]="['/patient/changepassword']">
      <i class="fas fa-lock"></i>
      <span>Change Password</span>
    </a>
  </li>
  <li>
    <a [routerLink]="['/patient/patientdashboard']">
      <i class="fas fa-sign-out-alt"></i>
      <span>Logout</span>
    </a>
  </li>
</ul>
