<section class="feature-section">
    <div class="container-fluid">
        <div class="row">
             
             <div class="col-md-7">
                 <div class="section-header mb-5">	
                     <h2 class="mt-2">Availabe Features in Our Clinic</h2>
                     <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                 </div>	
                 <div class="features-slider slider">
                     <!-- Slider Item -->
                     <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <!-- Slider Item -->
								<div class="feature-item text-center">
									<img src="../../assets/images/features/feature-01.jpg" class="img-fluid" alt="Feature">
									<p>Patient Ward</p>
								</div>
								<!-- /Slider Item -->
                        </ng-template>  
                        <ng-template carouselSlide>
                            <!-- Slider Item -->
								<div class="feature-item text-center">
									<img src="../../assets/images/features/feature-02.jpg" class="img-fluid" alt="Feature">
									<p>Test Room</p>
								</div>
								<!-- /Slider Item -->
                        </ng-template>  
                        <ng-template carouselSlide>
                            <!-- Slider Item -->
								<div class="feature-item text-center">
									<img src="../../assets/images/features/feature-03.jpg" class="img-fluid" alt="Feature">
									<p>ICU</p>
								</div>
								<!-- /Slider Item -->
                        </ng-template>  

                        <ng-template carouselSlide>
                            <!-- Slider Item -->
								<div class="feature-item text-center">
									<img src="../../assets/images/features/feature-04.jpg" class="img-fluid" alt="Feature">
									<p>Operation</p>
								</div>
								<!-- /Slider Item -->
                        </ng-template>  

                        <ng-template carouselSlide>
                            <!-- Slider Item -->
								<div class="feature-item text-center">
									<img src="../../assets/images/features/feature-05.jpg" class="img-fluid" alt="Feature">
									<p>Operation</p>
								</div>
								<!-- /Slider Item -->
                        </ng-template>  
                      </owl-carousel-o>

                 </div>
             </div>

             <div class="col-md-5 features-img text-center">
                 <img src="../../assets/images/features/feature.png" class="img-fluid" alt="Feature">
             </div>
        </div>
     </div>
</section>