.sect-banner
{
    background: #f9f9f9 url(src/assets/images/banner-section/search-banner.png) no-repeat bottom center;
    min-height: 450px;
    background-size: 100% auto;
    position: relative;
    background-blend-mode: Darken;
    padding: 80px 0;
}
.banner-inside
{
    margin:0 auto;
    max-width:800px;
    width:100%;
}
.banner-txt
{
    margin-bottom:30px;
}
.banner-txt h1
{
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 600;
}
.banner-txt p
{
    color: #757575;
    font-size: 20px;
    margin-bottom: 0;
}

.search-form .search-area
{
    flex: 0 0 240px;
    margin-right: 12px;
    position: relative;
    width: 240px;
}
.search-area .form-control
{
    background: #fff url(src/assets/images/banner-section/location.png) no-repeat 10px center;
    border: 1px solid #ccc;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    border-radius: 5px;
    padding-left: 35px;
}
.form-control
{
color: #333;
font-size: 15px;
min-height: 46px;
padding: 6px 15px;
}
.search-area .form-text
{
    color: #757575;
    font-size: 13px
}
.search-form .search-category
{

    flex: 0 0 490px;
    margin-right: 12px;
    position: relative;
    width: 400px;

}
.search-category .form-control
{
    background: #fff url(src/assets/images/banner-section/search.png) no-repeat 10px center;
    border: 1px solid #ccc;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    border-radius: 5px;
    padding-left: 35px;
}
.search-form .search-btn {
        width: 46px;
        -ms-flex: 0 0 46px;
        flex: 0 0 46px;
        height: 46px;

}
.search-category .form-text
{
    color: #757575;
    font-size: 13px
}
