
<!--carsousel section-->
<div class="wrapper">
  <div class='container-fluid px-0'>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/hospitals/banner0.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/hospitals/banner2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/hospitals/banner3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/hospitals/banner4.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
</div>
<!--carsousel section-->


<!--sidebar-->
<div class="sidebar-contact">
  <div class="toggle"><i class="fa fa-envelope text-info fa-2x"></i></div>
  <form>
    <h2 class="text-center">Contact</h2>

      <input type="text" class="form-control" id="Name" placeholder="Enter Name" name="name">


      <input type="email" class="form-control" placeholder="Enter Email" name="mail">

    <div class="form-group">
      <label for="comment">Comment:</label>
      <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>


      <button type="button" class="btn ani-btn">Send Message</button>
  </form>
</div>


<!--sidebar-->


<!--search bar here-->
<div class="container py-5">
  <div class="banner-inside">
    <div class="banner-txt text-center">
      <h1>Search Hopspital or Clinic for an Appointment</h1>
      <p>Discover the best Hospitals,Clinics nearest to you.</p>
    </div>
    <div class="search-form">
      <form action="search.html">
        <div class="d-flex">
          <div class="form-group search-area">
            <input type="text" placeholder="Search Location" class="form-control">
              <span class="form-text">Based on your Location</span></div><div class="form-group search-category">
            <input type="text" placeholder="Search name with Hospital or clinic" class="form-control">
            <span class="form-text">Ex :Sugar Check up etc</span></div>
            <button class="btn btn-primary search-btn"><i class="fa fa-search"></i>
          </button>
          <div class="cart-sect sidebar-contact mx-4">
            <i class="fa fa-shopping-cart fa-2x text-white"><span> 10</span></i>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
<!--search bar here-->



<!--section for hospitals and clinics-->
  <!--checkups and tests-->
<section class="wrapper my-5">
  <div class="container">
    <div class="sect-header-txt text-center">
      <h2>Health Checkups and Tests</h2>
    </div>
  </div>

  <div class="container my-4">
    <owl-carousel-o [options]="customOptions1">
      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/hospitals/hospitals.jpg" class="rounded img-fluid" alt="hospitals">
            <h5 class="mt-4">400+ Hospitals All Over Telangana</h5>
          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/hospitals/doctors.jpg" class="rounded img-fluid" alt="doctors">
            <h5 class="mt-4">2500+ Doctors All Over Telangana</h5>
          </a>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/hospitals/patients.jpg" class="rounded img-fluid" alt="patients">
            <h5 class="mt-4">15,000+ Patients All over Telanana</h5>
          </a>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/hospitals/hospitals.jpg" class="rounded img-fluid" alt="hospitals">
            <h5 class="mt-4">400+ Hospitals All Over Telangana</h5>
          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/hospitals/doctors.jpg" class="rounded img-fluid" alt="doctors">
            <h5 class="mt-4">2500+ Doctors All Over Telangana</h5>
          </a>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/hospitals/patients.jpg" class="rounded img-fluid" alt="patients">
            <h5 class="mt-4">15,000+ Patients All over Telanana</h5>
          </a>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/hospitals/hospitals.jpg" class="rounded img-fluid" alt="hospitals">
            <h5 class="mt-4">400+ Hospitals All Over Telangana</h5>
          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/hospitals/doctors.jpg" class="rounded img-fluid" alt="doctors">
            <h5 class="mt-4">2500+ Doctors All Over Telangana</h5>
          </a>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/hospitals/patients.jpg" class="rounded img-fluid" alt="patients">
            <h5 class="mt-4">15,000+ Patients All over Telanana</h5>
          </a>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>

<!--checkups and tests-->
<!--section for hospitals and clinics-->



<!--section for about novita hospitals-->
<section class="wrapper my-5 py-5 bg-adf">
  <div class="container">
    <div class="sect-header-txt text-center">
      <h2>About Our Organization</h2>
    </div>
  </div>

  <div class="container my-4">
    <div class="row">
      <div class="col-md-6">
          <ul>
            <li>
                <p>Novita platform is 100% compliant with the latest telemedicine guidelines published
                by the Medical Council of India</p>
              </li>
                <li><p>Acquire new patients and provide online consultations via video, audio or chat</p></li>
                <li><p>Deliver care efficiently with Novita AI assistant and dedicated care team</p></li>
                <li><p>Get demand online for your Laboratory, Radiology and Pharmacy services</p></li>
                <li><p>Engage with your existing patients and reduce attrition</p></li>
                <li><p>Get more demand for daycare and inpatient procedures and surgery</p></li>
                <li><p>No lump-sum payment</p></li>
                <li><p>Zero set up cost and can be set up in a single day</p></li>
          </ul>
      </div>

      <div class="col-md-6">
        <img src="../../assets/images/hospitals/hospitals.jpg" class="rounded img-fluid" alt="hospitals">
      </div>
    </div>
  </div>
</section>

<!--section for about novita hospitals-->


<!--testimonies-->
<section class="wrapper my-5">
  <div class="container">
    <div class="sect-header-txt text-center">
      <h2>Our Patients will Say</h2>
    </div>
  </div>


  <div class="container my-4">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
          <div class="testimonial">
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec velit dui. Pellentesque volutpat faucibus risus, ac accumsan purus.
            </p>

            <div class="testimonial-review">
                <div class="pic">
                    <img src="../../assets/images/hospitals/patient1.jpg" alt="">
                </div>
                <h4 class="testimonial-title">
                    williamson
                    <small>Web Developer</small>
                </h4>
            </div>
          </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial">
          <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec velit dui. Pellentesque volutpat faucibus risus, ac accumsan purus.
          </p>

          <div class="testimonial-review">
              <div class="pic">
                  <img src="../../assets/images/hospitals/patient2.jpg" alt="">
              </div>
              <h4 class="testimonial-title">
                  williamson
                  <small>Web Developer</small>
              </h4>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="testimonial">
          <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec velit dui. Pellentesque volutpat faucibus risus, ac accumsan purus.
          </p>

          <div class="testimonial-review">
              <div class="pic">
                  <img src="../../assets/images/hospitals/patient3.jpg" alt="">
              </div>
              <h4 class="testimonial-title">
                  williamson
                  <small>Web Developer</small>
              </h4>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="testimonial">
          <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec velit dui. Pellentesque volutpat faucibus risus, ac accumsan purus.
          </p>

          <div class="testimonial-review">
              <div class="pic">
                  <img src="../../assets/images/hospitals/patient1.jpg" alt="">
              </div>
              <h4 class="testimonial-title">
                  williamson
                  <small>Web Developer</small>
              </h4>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial">
          <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec velit dui. Pellentesque volutpat faucibus risus, ac accumsan purus.
          </p>

          <div class="testimonial-review">
              <div class="pic">
                  <img src="../../assets/images/hospitals/patient2.jpg" alt="">
              </div>
              <h4 class="testimonial-title">
                  williamson
                  <small>Web Developer</small>
              </h4>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="testimonial">
          <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec velit dui. Pellentesque volutpat faucibus risus, ac accumsan purus.
          </p>

          <div class="testimonial-review">
              <div class="pic">
                  <img src="../../assets/images/hospitals/patient3.jpg" alt="">
              </div>
              <h4 class="testimonial-title">
                  williamson
                  <small>Web Developer</small>
              </h4>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="testimonial">
          <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec velit dui. Pellentesque volutpat faucibus risus, ac accumsan purus.
          </p>

          <div class="testimonial-review">
              <div class="pic">
                  <img src="../../assets/images/hospitals/patient1.jpg" alt="">
              </div>
              <h4 class="testimonial-title">
                  williamson
                  <small>Web Developer</small>
              </h4>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial">
          <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec velit dui. Pellentesque volutpat faucibus risus, ac accumsan purus.
          </p>

          <div class="testimonial-review">
              <div class="pic">
                  <img src="../../assets/images/hospitals/patient2.jpg" alt="">
              </div>
              <h4 class="testimonial-title">
                  williamson
                  <small>Web Developer</small>
              </h4>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="testimonial">
          <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec velit dui. Pellentesque volutpat faucibus risus, ac accumsan purus.
          </p>

          <div class="testimonial-review">
              <div class="pic">
                  <img src="../../assets/images/hospitals/patient3.jpg" alt="">
              </div>
              <h4 class="testimonial-title">
                  williamson
                  <small>Web Developer</small>
              </h4>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>

<!--testimonies-->


<!--tie up with the hosptials-->
    <!--checkups and tests-->
<section class="wrapper my-5 py-5 bg-ededee">
  <div class="container">
    <div class="sect-header-txt text-center">
      <h2>Our Network Hospitals All Over India</h2>
    </div>
  </div>

  <div class="container my-4">
    <owl-carousel-o [options]="customOptions2">
      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/hospitals/brands/H-1.png" class="rounded-circle img-fluid" alt="hospitals">

          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/hospitals/brands/H-2.png" class="rounded img-fluid" alt="doctors">

          </a>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/hospitals/brands/H-3.png" class="rounded img-fluid" alt="patients">

          </a>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/hospitals/brands/H-4.png" class="rounded img-fluid" alt="hospitals">

          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/hospitals/brands/H-5.png" class="rounded img-fluid" alt="doctors">

          </a>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/hospitals/brands/H-6.png" class="rounded img-fluid" alt="patients">

          </a>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/hospitals/brands/H-7.png" class="rounded img-fluid" alt="hospitals">

          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/hospitals/brands/H-8.png" class="rounded img-fluid" alt="doctors">

          </a>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/hospitals/brands/H-9.png" class="rounded img-fluid" alt="patients">

          </a>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/hospitals/brands/H-10.png" class="rounded img-fluid" alt="patients">

          </a>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/hospitals/brands/H-11.png" class="rounded img-fluid" alt="patients">

          </a>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/hospitals/brands/H-12.png" class="rounded img-fluid" alt="patients">

          </a>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/hospitals/brands/H-13.png" class="rounded img-fluid" alt="patients">

          </a>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>

<!--checkups and tests-->



<!--tie up with the hospitals-->


<!--alphabet order hospital-->
    <!--checkups and tests-->
    <section class="wrapper my-5 pt-5">
      <div class="container">
        <div class="sect-header-txt text-center">
          <h2>Search Hospital with Speicific Letter</h2>
        </div>
      </div>

      <div class="container my-4">
        <ul class="ul-cls d-flex justify-content-center flex-wrap align-items-center">
          <li class="list-inline-item border-right"><a href="#">A</a></li>
          <li class="list-inline-item"><a href="#">B</a></li>
          <li class="list-inline-item"><a href="#">C</a></li>
          <li class="list-inline-item"><a href="#">D</a></li>
          <li class="list-inline-item"><a href="#">E</a></li>
          <li class="list-inline-item"><a href="#">F</a></li>
          <li class="list-inline-item"><a href="#">G</a></li>
          <li class="list-inline-item"><a href="#">H</a></li>
          <li class="list-inline-item"><a href="#">I</a></li>
          <li class="list-inline-item"><a href="#">J</a></li>
          <li class="list-inline-item"><a href="#">K</a></li>
          <li class="list-inline-item"><a href="#">L</a></li>
          <li class="list-inline-item"><a href="#">M</a></li>
          <li class="list-inline-item"><a href="#">N</a></li>
          <li class="list-inline-item"><a href="#">O</a></li>
          <li class="list-inline-item"><a href="#">P</a></li>
          <li class="list-inline-item"><a href="#">Q</a></li>
          <li class="list-inline-item"><a href="#">R</a></li>
          <li class="list-inline-item"><a href="#">S</a></li>
          <li class="list-inline-item"><a href="#">T</a></li>
          <li class="list-inline-item"><a href="#">U</a></li>
          <li class="list-inline-item"><a href="#">V</a></li>
          <li class="list-inline-item"><a href="#">W</a></li>
          <li class="list-inline-item"><a href="#">X</a></li>
          <li class="list-inline-item"><a href="#">Y</a></li>
          <li class="list-inline-item"><a href="#">Z</a></li>

        </ul>
      </div>
    </section>

<!--alphabet order hospital-->

<hr>

<!--list of hospital letter wise-->
<section class="wrapper mt-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">A</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>


      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">B</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">C</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">E</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>


      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">F</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">G</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>


      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">H</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">I</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">J</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">K</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">L</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">M</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">N</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">O</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">P</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">Q</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">R</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">S</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">T</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">U</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">V</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">W</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">X</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">Y</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">Z</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="font-weight-bold text-left">D</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><a href="#">Aakash Healthcare</a></li>
              <li><a href="#">Aakash Hospital</a></li>
              <li><a href="#">AB Hospital</a></li>
              <li><a href="#">Address Health Clinic</a></li>
              <li><a href="#">Adithi Family Clinic</a></li>
              <li><a href="#">Appollo Hospital</a></li>
              <li><a href="#">Advish Dental</a></li>
              <li><a href="#">Aestiq Skin Hair and Laser Clinic</a></li>
              <li><a href="#">AIG Hospital</a></li>
              <li><a href="#">AIMS Hospital</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!--list of hospital letter wise-->
