<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Favourites</li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Favourites</h2>
      </div>
    </div>
  </div>
</div>




<div class="content" style="transform: none; min-height: 267.6px;">
  <div class="container-fluid" style="transform: none;">
    <div class="row" style="transform: none;">
      <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">

      <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 30px;"><div class="profile-sidebar">
          <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
              <a href="#" class="booking-doc-img">
                <img src="../../assets/images/patients/patient.jpg" alt="User Image">
              </a>
              <div class="profile-det-info">
                <h3>Richard Wilson</h3>
                <div class="patient-details">
                  <h5><i class="fas fa-birthday-cake"></i> 24 Jul 1983, 38 years</h5>
                  <h5 class="mb-0"><i class="fa fa-map-marker"></i> Newyork, USA</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="dashboard-widget">
            <nav class="dashboard-menu">
              <ul>
                <li>
                  <a [routerLink]="['/patient/patientdashboard']">
                    <i class="fas fa-columns"></i>
                    <span>Dashboard</span>
                  </a>
                </li>
                <li class="active">
                  <a [routerLink]="['/patient/favourites']">
                    <i class="fas fa-bookmark"></i>
                    <span>Favourites</span>
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/patient/chat']">
                    <i class="fas fa-comments"></i>
                    <span>Message</span>
                    <small class="unread-msg">23</small>
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/patient/profilesettings']">
                    <i class="fas fa-user-cog"></i>
                    <span>Profile Settings</span>
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/patient/changepassword']">
                    <i class="fas fa-lock"></i>
                    <span>Change Password</span>
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/patient/patientdashboard']">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                  </a>
                </li>
              </ul>

            </nav>
          </div>

        </div><div class="resize-sensor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; z-index: -1; visibility: hidden;"><div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 382px; height: 1346px;"></div></div><div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div></div></div>
      <div class="col-md-7 col-lg-8 col-xl-9">
        <div class="row row-grid">
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="profile-widget">
              <div class="doc-img">
                <a [routerLink]="['/patient/doctorprofile']">
                  <img class="img-fluid" alt="User Image" src="../../assets/images/doctors/doctor-01.jpg">
                </a>
                <a href="javascript:void(0)" class="fav-btn">
                  <i class="fa fa-bookmark"></i>
                </a>
              </div>
              <div class="pro-content">
                <h3 class="title">
                  <a [routerLink]="['/patient/doctorprofile']">Dr. Ruby Perrin</a>
                  <i class="fas fa-check-circle verified"></i>
                </h3>
                <p class="speciality">MDS - Periodontology and Oral Implantology, BDS</p>
                <div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <span class="d-inline-block average-rating">(17)</span>
                </div>
                <ul class="available-info">
                  <li>
                    <i class="fa fa-map-marker"></i> Florida, USA
                  </li>
                  <li>
                    <i class="fa fa-clock"></i> Available on Fri, 22 Mar
                  </li>
                  <li>
                    <i class="fa fa-money"></i> $300 - $1000 <i class="fas fa-info-circle" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                  </li>
                </ul>
                <div class="row row-sm">
                  <div class="col-6">
                    <a [routerLink]="['/patient/doctorprofile']" class="btn view-btn">View Profile</a>
                  </div>
                  <div class="col-6">
                    <a [routerLink]="['/patient/booking']" class="btn book-btn">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="profile-widget">
              <div class="doc-img">
                <a [routerLink]="['/patient/doctorprofile']">
                  <img class="img-fluid" alt="User Image" src="../../assets/images/doctors/doctor-02.jpg">
                </a>
                <a href="javascript:void(0)" class="fav-btn">
                  <i class="fa fa-bookmark"></i>
                </a>
              </div>
              <div class="pro-content">
                <h3 class="title">
                  <a [routerLink]="['/patient/doctorprofile']">Dr. Darren Elder</a>
                  <i class="fas fa-check-circle verified"></i>
                </h3>
                <p class="speciality">BDS, MDS - Oral &amp; Maxillofacial Surgery</p>
                <div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating">(35)</span>
                </div>
                <ul class="available-info">
                  <li>
                    <i class="fa fa-map-marker"></i> Newyork, USA
                  </li>
                  <li>
                    <i class="fa fa-clock"></i> Available on Fri, 22 Mar
                  </li>
                  <li>
                    <i class="fa fa-money"></i> $50 - $300 <i class="fas fa-info-circle" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                  </li>
                </ul>
                <div class="row row-sm">
                  <div class="col-6">
                    <a [routerLink]="['/patient/doctorprofile']" class="btn view-btn">View Profile</a>
                  </div>
                  <div class="col-6">
                    <a [routerLink]="['/patient/booking']" class="btn book-btn">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="profile-widget">
              <div class="doc-img">
                <a [routerLink]="['/patient/doctorprofile']">
                  <img class="img-fluid" alt="User Image" src="../../assets/images/doctors/doctor-03.jpg">
                </a>
                <a href="javascript:void(0)" class="fav-btn">
                  <i class="fa fa-bookmark"></i>
                </a>
              </div>
              <div class="pro-content">
                <h3 class="title">
                  <a [routerLink]="['/patient/doctorprofile']">Dr. Deborah Angel</a>
                  <i class="fas fa-check-circle verified"></i>
                </h3>
                <p class="speciality">MBBS, MD - General Medicine, DNB - Cardiology</p>
                <div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating">(27)</span>
                </div>
                <ul class="available-info">
                  <li>
                    <i class="fa fa-map-marker"></i> Georgia, USA
                  </li>
                  <li>
                    <i class="fa fa-clock"></i> Available on Fri, 22 Mar
                  </li>
                  <li>
                    <i class="fa fa-money"></i> $100 - $400 <i class="fas fa-info-circle" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                  </li>
                </ul>
                <div class="row row-sm">
                  <div class="col-6">
                    <a [routerLink]="['/patient/doctorprofile']" class="btn view-btn">View Profile</a>
                  </div>
                  <div class="col-6">
                    <a [routerLink]="['/patient/booking']" class="btn book-btn">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="profile-widget">
              <div class="doc-img">
                <a [routerLink]="['/patient/doctorprofile']">
                  <img class="img-fluid" alt="User Image" src="../../assets/images/doctors/doctor-04.jpg">
                </a>
                <a href="javascript:void(0)" class="fav-btn">
                  <i class="fa fa-bookmark"></i>
                </a>
              </div>
              <div class="pro-content">
                <h3 class="title">
                  <a [routerLink]="['/patient/doctorprofile']">Dr. Sofia Brient</a>
                  <i class="fas fa-check-circle verified"></i>
                </h3>
                <p class="speciality">MBBS, MS - General Surgery, MCh - Urology</p>
                <div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating">(4)</span>
                </div>
                <ul class="available-info">
                  <li>
                    <i class="fa fa-map-marker"></i> Louisiana, USA
                  </li>
                  <li>
                    <i class="fa fa-clock"></i> Available on Fri, 22 Mar
                  </li>
                  <li>
                    <i class="fa fa-money"></i> $150 - $250 <i class="fas fa-info-circle" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                  </li>
                </ul>
                <div class="row row-sm">
                  <div class="col-6">
                    <a [routerLink]="['/patient/doctorprofile']" class="btn view-btn">View Profile</a>
                  </div>
                  <div class="col-6">
                    <a [routerLink]="['/patient/booking']" class="btn book-btn">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="profile-widget">
              <div class="doc-img">
                <a [routerLink]="['/patient/doctorprofile']">
                  <img class="img-fluid" alt="User Image" src="../../assets/images/doctors/doctor-05.jpg">
                </a>
                <a href="javascript:void(0)" class="fav-btn">
                  <i class="fa fa-bookmark"></i>
                </a>
              </div>
              <div class="pro-content">
                <h3 class="title">
                  <a [routerLink]="['/patient/doctorprofile']">Dr. Marvin Campbell</a>
                  <i class="fas fa-check-circle verified"></i>
                </h3>
                <p class="speciality">MBBS, MD - Ophthalmology, DNB - Ophthalmology</p>
                <div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating">(66)</span>
                </div>
                <ul class="available-info">
                  <li>
                    <i class="fa fa-map-marker"></i> Michigan, USA
                  </li>
                  <li>
                    <i class="fa fa-clock"></i> Available on Fri, 22 Mar
                  </li>
                  <li>
                    <i class="fa fa-money"></i> $50 - $700
                    <i class="fas fa-info-circle" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                  </li>
                </ul>
                <div class="row row-sm">
                  <div class="col-6">
                    <a [routerLink]="['/patient/doctorprofile']" class="btn view-btn">View Profile</a>
                  </div>
                  <div class="col-6">
                    <a [routerLink]="['/patient/booking']" class="btn book-btn">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="profile-widget">
              <div class="doc-img">
                <a [routerLink]="['/patient/doctorprofile']">
                  <img class="img-fluid" alt="User Image" src="../../assets/images/doctors/doctor-06.jpg">
                </a>
                <a href="javascript:void(0)" class="fav-btn">
                  <i class="fa fa-bookmark"></i>
                </a>
              </div>
              <div class="pro-content">
                <h3 class="title">
                  <a [routerLink]="['/patient/doctorprofile']">Dr. Katharine Berthold</a>
                  <i class="fas fa-check-circle verified"></i>
                </h3>
                <p class="speciality">MS - Orthopaedics, MBBS, M.Ch - Orthopaedics</p>
                <div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating">(52)</span>
                </div>
                <ul class="available-info">
                  <li>
                    <i class="fa fa-map-marker"></i> Texas, USA
                  </li>
                  <li>
                    <i class="fa fa-clock"></i> Available on Fri, 22 Mar
                  </li>
                  <li>
                    <i class="fa fa-money"></i> $100 - $500
                    <i class="fas fa-info-circle" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                  </li>
                </ul>
                <div class="row row-sm">
                  <div class="col-6">
                    <a [routerLink]="['/patient/doctorprofile']" class="btn view-btn">View Profile</a>
                  </div>
                  <div class="col-6">
                    <a [routerLink]="['/patient/booking']" class="btn book-btn">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="profile-widget">
              <div class="doc-img">
                <a [routerLink]="['/patient/doctorprofile']">
                  <img class="img-fluid" alt="User Image" src="../../assets/images/doctors/doctor-07.jpg">
                </a>
                <a href="javascript:void(0)" class="fav-btn">
                  <i class="fa fa-bookmark"></i>
                </a>
              </div>
              <div class="pro-content">
                <h3 class="title">
                  <a [routerLink]="['/patient/doctorprofile']">Dr. Linda Tobin</a>
                  <i class="fas fa-check-circle verified"></i>
                </h3>
                <p class="speciality">MBBS, MD - General Medicine, DM - Neurology</p>
                <div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating">(43)</span>
                </div>
                <ul class="available-info">
                  <li>
                    <i class="fa fa-map-marker"></i> Kansas, USA
                  </li>
                  <li>
                    <i class="fa fa-clock"></i> Available on Fri, 22 Mar
                  </li>
                  <li>
                    <i class="fa fa-money"></i> $100 - $1000
                    <i class="fas fa-info-circle" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                  </li>
                </ul>
                <div class="row row-sm">
                  <div class="col-6">
                    <a [routerLink]="['/patient/doctorprofile']" class="btn view-btn">View Profile</a>
                  </div>
                  <div class="col-6">
                    <a [routerLink]="['/patient/booking']" class="btn book-btn">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="profile-widget">
              <div class="doc-img">
                <a [routerLink]="['/patient/doctorprofile']">
                  <img class="img-fluid" alt="User Image" src="../../assets/images/doctors/doctor-08.jpg">
                </a>
                <a href="javascript:void(0)" class="fav-btn">
                  <i class="fa fa-bookmark"></i>
                </a>
              </div>
              <div class="pro-content">
                <h3 class="title">
                  <a [routerLink]="['/patient/doctorprofile']">Dr. Paul Richard</a>
                  <i class="fas fa-check-circle verified"></i>
                </h3>
                <p class="speciality">MBBS, MD - Dermatology , Venereology &amp; Lepros</p>
                <div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating">(49)</span>
                </div>
                <ul class="available-info">
                  <li>
                    <i class="fa fa-map-marker"></i> California, USA
                  </li>
                  <li>
                    <i class="fa fa-clock"></i> Available on Fri, 22 Mar
                  </li>
                  <li>
                    <i class="fa fa-money"></i> $100 - $400
                    <i class="fas fa-info-circle" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                  </li>
                </ul>
                <div class="row row-sm">
                  <div class="col-6">
                    <a [routerLink]="['/patient/doctorprofile']" class="btn view-btn">View Profile</a>
                  </div>
                  <div class="col-6">
                    <a [routerLink]="['/patient/booking']" class="btn book-btn">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="profile-widget">
              <div class="doc-img">
                <a [routerLink]="['/patient/doctorprofile']">
                  <img class="img-fluid" alt="User Image" src="../../assets/images/doctors/doctor-09.jpg">
                </a>
                <a href="javascript:void(0)" class="fav-btn">
                  <i class="fa fa-bookmark"></i>
                </a>
              </div>
              <div class="pro-content">
                <h3 class="title">
                  <a [routerLink]="['/patient/doctorprofile']">Dr. John Gibbs</a>
                  <i class="fas fa-check-circle verified"></i>
                </h3>
                <p class="speciality">MDS - Periodontology and Oral Implantology, BDS</p>
                <div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating">(112)</span>
                </div>
                <ul class="available-info">
                  <li>
                    <i class="fa fa-map-marker"></i> Oklahoma, USA
                  </li>
                  <li>
                    <i class="fa fa-clock"></i> Available on Fri, 22 Mar
                  </li>
                  <li>
                    <i class="fa fa-money"></i> $500 - $2500
                    <i class="fas fa-info-circle" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                  </li>
                </ul>
                <div class="row row-sm">
                  <div class="col-6">
                    <a [routerLink]="['/patient/doctorprofile']" class="btn view-btn">View Profile</a>
                  </div>
                  <div class="col-6">
                    <a [routerLink]="['/patient/booking']" class="btn book-btn">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="profile-widget">
              <div class="doc-img">
                <a [routerLink]="['/patient/doctorprofile']">
                  <img class="img-fluid" alt="User Image" src="../../assets/images/doctors/doctor-10.jpg">
                </a>
                <a href="javascript:void(0)" class="fav-btn">
                  <i class="fa fa-bookmark"></i>
                </a>
              </div>
              <div class="pro-content">
                <h3 class="title">
                  <a [routerLink]="['/patient/doctorprofile']">Dr. Olga Barlow</a>
                  <i class="fas fa-check-circle verified"></i>
                </h3>
                <p class="speciality">MDS - Periodontology and Oral Implantology, BDS</p>
                <div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating">(65)</span>
                </div>
                <ul class="available-info">
                  <li>
                    <i class="fa fa-map-marker"></i> Montana, USA
                  </li>
                  <li>
                    <i class="fa fa-clock"></i> Available on Fri, 22 Mar
                  </li>
                  <li>
                    <i class="fa fa-money"></i> $75 - $250
                    <i class="fas fa-info-circle" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                  </li>
                </ul>
                <div class="row row-sm">
                  <div class="col-6">
                    <a [routerLink]="['/patient/doctorprofile']" class="btn view-btn">View Profile</a>
                  </div>
                  <div class="col-6">
                    <a [routerLink]="['/patient/booking']" class="btn book-btn">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="profile-widget">
              <div class="doc-img">
                <a [routerLink]="['/patient/doctorprofile']">
                  <img class="img-fluid" alt="User Image" src="../../assets/images/doctors/doctor-11.jpg">
                </a>
                <a href="javascript:void(0)" class="fav-btn">
                  <i class="fa fa-bookmark"></i>
                </a>
              </div>
              <div class="pro-content">
                <h3 class="title">
                  <a [routerLink]="['/patient/doctorprofile']">Dr. Julia Washington</a>
                  <i class="fas fa-check-circle verified"></i>
                </h3>
                <p class="speciality">MBBS, MD - General Medicine, DM - Endocrinology</p>
                <div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating">(5)</span>
                </div>
                <ul class="available-info">
                  <li>
                    <i class="fa fa-map-marker"></i> Oklahoma, USA
                  </li>
                  <li>
                    <i class="fa fa-clock"></i> Available on Fri, 22 Mar
                  </li>
                  <li>
                    <i class="fa fa-money"></i> $275 - $450
                    <i class="fas fa-info-circle" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                  </li>
                </ul>
                <div class="row row-sm">
                  <div class="col-6">
                    <a [routerLink]="['/patient/doctorprofile']" class="btn view-btn">View Profile</a>
                  </div>
                  <div class="col-6">
                    <a [routerLink]="['/patient/booking']" class="btn book-btn">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="profile-widget">
              <div class="doc-img">
                <a [routerLink]="['/patient/doctorprofile']">
                  <img class="img-fluid" alt="User Image" src="../../assets/images/doctors/doctor-12.jpg">
                </a>
                <a href="javascript:void(0)" class="fav-btn">
                  <i class="fa fa-bookmark"></i>
                </a>
              </div>
              <div class="pro-content">
                <h3 class="title">
                  <a [routerLink]="['/patient/doctorprofile']">Dr. Shaun Aponte</a>
                  <i class="fas fa-check-circle verified"></i>
                </h3>
                <p class="speciality">MBBS, MS - ENT, Diploma in Otorhinolaryngology (DLO)</p>
                <div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating">(5)</span>
                </div>
                <ul class="available-info">
                  <li>
                    <i class="fa fa-map-marker"></i> Indiana, USA
                  </li>
                  <li>
                    <i class="fa fa-clock"></i> Available on Fri, 22 Mar
                  </li>
                  <li>
                    <i class="fa fa-money"></i> $150 - $350
                    <i class="fas fa-info-circle" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                  </li>
                </ul>
                <div class="row row-sm">
                  <div class="col-6">
                    <a [routerLink]="['/patient/doctorprofile']" class="btn view-btn">View Profile</a>
                  </div>
                  <div class="col-6">
                    <a [routerLink]="['/patient/booking']" class="btn book-btn">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

</div>
