<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Booking</li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Booking</h2>
      </div>
    </div>
  </div>
</div>




<div class="content" style="min-height: 267.6px;">
  <div class="container">

    <div class="row">
      <div class="col-12">

        <div class="card">
          <div class="card-body">
            <div class="booking-doc-info">
              <a [routerLink]="['/patient/doctorprofile']" class="booking-doc-img">
                <img src="../../assets/images/doctors/doctor-02.jpg" alt="User Image">
              </a>
              <div class="booking-info">
                <h4><a [routerLink]="['/patient/doctorprofile']">Dr. Darren Elder</a></h4>
                <div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating">35</span>
                </div>
                <p class="text-muted mb-0"><i class="fas fa-map-marker-alt"></i> Newyork, USA</p>
              </div>
            </div>
          </div>
        </div>
       <div class="row">
          <div class="col-12 col-sm-4 col-md-6">
            <h4 class="mb-1">11 November 2019</h4>
            <p class="text-muted">Monday</p>
          </div>
          <div class="col-12 col-sm-8 col-md-6 text-sm-right">
            <div class="bookingrange btn btn-white btn-sm mb-3">
              <div class="form-group">
                <input type="date" class="form-control" id="email"  placeholder="Enter email" name="email">
              </div>
            </div>
          </div>
     </div>

 <!-- Doctor Widget -->
 <div class="card">
  <div class="card-body">
    <div class="doctor-widget">
      <div class="doc-info-left">
        <div class="doctor-img">
          <a [routerLink]="['/patient/doctorprofile']">
            <img src="../../assets/images/doctors/doctor-03.jpg" class="img-fluid" alt="User Image">
          </a>
        </div>
        <div class="doc-info-cont">
          <h4 class="doc-name"><a [routerLink]="['/patient/doctorprofile']">SLOT1 BOOKING</a></h4>
          <p class="doc-speciality">9:00AM-9:30AM</p>
          <p class="doc-department"><img src="../../assets/images/Specialities/specialities-04.png" class="img-fluid" alt="Speciality">Cardiology</p>

          <div class="clinic-details">
            <p class="doc-location"><i class="fa fa-home"></i> Yashoda Clinic, Hyderabad</p>

          </div>

        </div>
      </div>
      <div class="doc-info-right">
        <div class="clini-infos">
          <ul>

            <li><i class="fa fa-map-marker"></i> Newyork, USA</li>
            <li><i class="fa fa-money-bill"></i> $100 - $400 <i class="fa fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i></li>
          </ul>
        </div>
        <div class="clinic-booking">

          <a class="apt-btn" [routerLink]="['/patient/checkout']">Book Appointment</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Doctor Widget -->


 <!-- Doctor Widget -->
 <div class="card">
  <div class="card-body">
    <div class="doctor-widget">
      <div class="doc-info-left">
        <div class="doctor-img">
          <a [routerLink]="['/patient/doctorprofile']">
            <img src="../../assets/images/doctors/doctor-03.jpg" class="img-fluid" alt="User Image">
          </a>
        </div>
        <div class="doc-info-cont">
          <h4 class="doc-name"><a [routerLink]="['/patient/doctorprofile']">SLOT1 BOOKING</a></h4>
          <p class="doc-speciality">9:00AM-9:30AM</p>
          <p class="doc-department"><img src="../../assets/images/Specialities/specialities-04.png" class="img-fluid" alt="Speciality">Cardiology</p>

          <div class="clinic-details">
            <p class="doc-location"><i class="fa fa-home"></i> Yashoda Clinic, Hyderabad</p>

          </div>

        </div>
      </div>
      <div class="doc-info-right">
        <div class="clini-infos">
          <ul>

            <li><i class="fa fa-map-marker"></i> Newyork, USA</li>
            <li><i class="fa fa-money-bill"></i> $100 - $400 <i class="fa fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i></li>
          </ul>
        </div>
        <div class="clinic-booking">

          <a class="apt-btn" [routerLink]="['/patient/checkout']">Book Appointment</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Doctor Widget -->




 <!-- Doctor Widget -->
 <div class="card">
  <div class="card-body">
    <div class="doctor-widget">
      <div class="doc-info-left">
        <div class="doctor-img">
          <a [routerLink]="['/patient/doctorprofile']">
            <img src="../../assets/images/doctors/doctor-03.jpg" class="img-fluid" alt="User Image">
          </a>
        </div>
        <div class="doc-info-cont">
          <h4 class="doc-name"><a [routerLink]="['/patient/doctorprofile']">SLOT1 BOOKING</a></h4>
          <p class="doc-speciality">9:00AM-9:30AM</p>
          <p class="doc-department"><img src="../../assets/images/Specialities/specialities-04.png" class="img-fluid" alt="Speciality">Cardiology</p>

          <div class="clinic-details">
            <p class="doc-location"><i class="fa fa-home"></i> Yashoda Clinic, Hyderabad</p>

          </div>

        </div>
      </div>
      <div class="doc-info-right">
        <div class="clini-infos">
          <ul>

            <li><i class="fa fa-map-marker"></i> Newyork, USA</li>
            <li><i class="fa fa-money-bill"></i> $100 - $400 <i class="fa fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i></li>
          </ul>
        </div>
        <div class="clinic-booking">

          <a class="apt-btn" [routerLink]="['/patient/checkout']">Book Appointment</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Doctor Widget -->




 <!-- Doctor Widget -->
 <div class="card">
  <div class="card-body">
    <div class="doctor-widget">
      <div class="doc-info-left">
        <div class="doctor-img">
          <a [routerLink]="['/patient/doctorprofile']">
            <img src="../../assets/images/doctors/doctor-03.jpg" class="img-fluid" alt="User Image">
          </a>
        </div>
        <div class="doc-info-cont">
          <h4 class="doc-name"><a [routerLink]="['/patient/doctorprofile']">SLOT1 BOOKING</a></h4>
          <p class="doc-speciality">9:00AM-9:30AM</p>
          <p class="doc-department"><img src="../../assets/images/Specialities/specialities-04.png" class="img-fluid" alt="Speciality">Cardiology</p>

          <div class="clinic-details">
            <p class="doc-location"><i class="fa fa-home"></i> Yashoda Clinic, Hyderabad</p>

          </div>

        </div>
      </div>
      <div class="doc-info-right">
        <div class="clini-infos">
          <ul>

            <li><i class="fa fa-map-marker"></i> Newyork, USA</li>
            <li><i class="fa fa-money-bill"></i> $100 - $400 <i class="fa fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i></li>
          </ul>
        </div>
        <div class="clinic-booking">

          <a class="apt-btn" [routerLink]="['/patient/checkout']">Book Appointment</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Doctor Widget -->




 <!-- Doctor Widget -->
 <div class="card">
  <div class="card-body">
    <div class="doctor-widget">
      <div class="doc-info-left">
        <div class="doctor-img">
          <a [routerLink]="['/patient/doctorprofile']">
            <img src="../../assets/images/doctors/doctor-03.jpg" class="img-fluid" alt="User Image">
          </a>
        </div>
        <div class="doc-info-cont">
          <h4 class="doc-name"><a [routerLink]="['/patient/doctorprofile']">SLOT1 BOOKING</a></h4>
          <p class="doc-speciality">9:00AM-9:30AM</p>
          <p class="doc-department"><img src="../../assets/images/Specialities/specialities-04.png" class="img-fluid" alt="Speciality">Cardiology</p>

          <div class="clinic-details">
            <p class="doc-location"><i class="fa fa-home"></i> Yashoda Clinic, Hyderabad</p>

          </div>

        </div>
      </div>
      <div class="doc-info-right">
        <div class="clini-infos">
          <ul>

            <li><i class="fa fa-map-marker"></i> Newyork, USA</li>
            <li><i class="fa fa-money-bill"></i> $100 - $400 <i class="fa fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i></li>
          </ul>
        </div>
        <div class="clinic-booking">

          <a class="apt-btn" [routerLink]="['/patient/checkout']">Book Appointment</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Doctor Widget -->








      </div>
    </div>
  </div>

</div>
