<section class="fact-sect">
    <div class="container-fluid mx-auto">
        <div class="row">
                    <div class="col-md-12 m-auto">
                        <div class="section-box text-center">
                            <h2>What are you looking for?</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 mb-3">
                                <div class="card text-center facility-card">
                                    <img src="../../assets/images/facilites/consultdoctor.jpg" alt="" class="img-fluid">
                                    <div class="doctor-book-card-content tile-card-content-1">
                                        <div>
                                            <h4 class="card-title mb-3 fnt-12">Consult a Doctor</h4>
                                            <a href="search.html" class="btn book-btn1 px-3 py-2 mt-3" tabindex="0"><span>Book Now </span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mb-3">
                                <div class="card text-center facility-card">
                                    <img src="../../assets/images/facilites/clinic.jpg" alt="" class="img-fluid">
                                    <div class="doctor-book-card-content tile-card-content-1">
                                        <div>
                                            <h4 class="card-title mb-3 fnt-12">Find a Clinic</h4>
                                            <a href="pharmacy-search.html" class="btn book-btn1 px-3 py-2 mt-3" tabindex="0"><span>Find Now </span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mb-3">
                                <div class="card text-center facility-card">
                                    <img src="../../assets/images/facilites/lab.jpg" alt="" class="img-fluid">
                                    <div class="doctor-book-card-content tile-card-content-1">
                                        <div>
                                        <h4 class="card-title mb-3 fnt-12">Find a Lab</h4>
                                            <a href="javascript:void(0);" class="btn book-btn1 px-3 py-2 mt-3" tabindex="0"><span>Find Now </span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-3 mb-3">
                                <div class="card text-center facility-card">
                                    <img src="../../assets/images/facilites/pharmacy.jpg" alt="" class="img-fluid">
                                    <div class="doctor-book-card-content tile-card-content-1">
                                        <div>
                                        <h4 class="card-title mb-3 fnt-12">Find a Pharmacy</h4>
                                            <a href="javascript:void(0);" class="btn book-btn1 px-3 py-2 mt-3" tabindex="0"><span>Find Now </span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</section>



<section class="sect-special">
    <div class="container">
        <div class="sect-header-txt text-center">
            <h2>Clinic and Specialities</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
   <div class="container">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="bxs">
            <div class="row mb-4">
                <div class="col text-center">
                    <img src="../../assets/images/Specialities/urology.png" class="w-100">
                    <h6>Urology</h6>
                </div>
                
                
                <div class="col text-center">
                    <img src="../../assets/images/Specialities/arthopaedics.png" class="w-100">
                    <h6>Arthopedics</h6>
                </div>
                
                
                <div class="col text-center">
                    <img src="../../assets/images/Specialities/cardiology.png" class="w-100">
                    <h6>Cardiology</h6>
                </div>
            


                <div class="col text-center">
                    <img src="../../assets/images/Specialities/dental.png" class="w-100">
                    <h6>Dental</h6>
                </div>



                <div class="col text-center">
                    <img src="../../assets/images/Specialities/neurology.png" class="w-100">
                    <h6>Neurology</h6>
                </div>

                <div class="col text-center">
                    <img src="../../assets/images/Specialities/familyhosp.png" class="w-100">
                    <h6>Family Treatment</h6>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <img src="../../assets/images/Specialities/ayurvedic.png" class="w-100">
                    <h6>Ayurvedic</h6>
                </div>
                
                
                <div class="col text-center">
                    <img src="../../assets/images/Specialities/hemeopathy.png" class="w-100">
                    <h6>Homeopathy</h6>
                </div>
                
                
                <div class="col text-center">
                    <img src="../../assets/images/Specialities/naturopathy.png" class="w-100">
                    <h6>Naturopathy</h6>
                </div>
            


                <div class="col text-center">
                    <img src="../../assets/images/Specialities/unani.png" class="w-100">
                    <h6>Unani</h6>
                </div>



                <div class="col text-center">
                    <img src="../../assets/images/Specialities/sidda.png" class="w-100">
                    <h6>Sidda</h6>
                </div>

                <div class="col text-center">
                    <img src="../../assets/images/Specialities/familytreatment.png" class="w-100">
                    <h6>Physiotherapy</h6>
                </div>
            </div>
        </div>
    </ng-template>  
    <ng-template carouselSlide>Slide 2</ng-template>  
    <ng-template carouselSlide>Slide 3</ng-template>  
  </owl-carousel-o>
</div>


</section>
