
<!--carsousel section-->
<div class="wrapper">
  <div class='container-fluid px-0'>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/dignostics/banner1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/dignostics/banner2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/dignostics/banner1.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
</div>
<!--carsousel section-->



<!--search bar here-->
<div class="container py-5">
  <div class="banner-inside">
    <div class="banner-txt text-center">
      <h1>Search Diagnstics for Make an Appointment</h1>
      <p>Discover the best Diagnostics, Labs nearest to you.</p>
    </div>
    <div class="search-form">
      <form action="search.html">
        <div class="d-flex">
          <div class="form-group search-area">
            <input type="text" placeholder="Search Location" class="form-control">
              <span class="form-text">Based on your Location</span></div><div class="form-group search-category">
            <input type="text" placeholder="Search Type of Test, Clinics, Hospitals" class="form-control">
            <span class="form-text">Ex :Sugar Check up etc</span></div>
            <button class="btn btn-primary search-btn"><i class="fa fa-search"></i>
          </button>
          <div class="cart-sect sidebar-contact mx-4">
            <i class="fa fa-shopping-cart fa-2x text-white"><span> 10</span></i>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
<!--search bar here-->


<!--why book us-->
<section class="wrapper bg-ash1 py-4">

  <div class="container">
      <div class="top-diagnstis">
        <div class="sect-header-txt text-center">
          <h2>Why Do Choose Us?</h2>
        </div>
      </div>

      <!--facilities-->
        <div class="row my-5">
          <div class="col-md-3">
            <div class="box-cls text-center">
              <div class="img-sect">
                <div class="img-cls">
                  <img src="../../assets/images/dignostics/trust.png" class="img-fluid">
                </div>

                <div class="img-cont py-3 px-2">
                  <h6>
                    We Provide you 100% Genuine Reports Always
                  </h6>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-3">
            <div class="box-cls text-center">
              <div class="img-sect">
                <div class="img-cls">
                  <img src="../../assets/images/dignostics/ontime.png" class="img-fluid">
                </div>

                <div class="img-cont py-3 px-2">
                  <h6>
                    Reports Delivery by on Time.
                  </h6>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="box-cls text-center">
              <div class="img-sect">
                <div class="img-cls">
                  <img src="../../assets/images/dignostics/digitalreport.png" class="img-fluid">
                </div>

                <div class="img-cont py-3 px-2">
                  <h6>
                    Access Your Reports Life Time in Online
                  </h6>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="box-cls text-center">
              <div class="img-sect">
                <div class="img-cls">
                  <img src="../../assets/images/dignostics/offers.png" class="img-fluid">
                </div>

                <div class="img-cont py-3 px-2">
                  <h6>
                    Get great discounts and offers on tests and packages.
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!--facilities-->
  </div>
 </section>


<!--why book us-->



<!--checkups and tests-->
<section class="wrapper my-5">
  <div class="container">
    <div class="sect-header-txt text-center">
      <h2>Health Checkups and Tests</h2>
    </div>
  </div>

  <div class="container my-4">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/dignostics/corona.png" class="img-fluid" al="diabetes-pic">
            <h5 class="mt-4">Carona</h5>
          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/dignostics/diabetes.png" class="img-fluid" al="diabetes-pic">
            <h5 class="mt-4">Diabetes</h5>
          </a>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/dignostics/kidneytest.png" class="img-fluid" al="diabetes-pic">
            <h5 class="mt-4">Kidney</h5>
          </a>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/dignostics/cacertest.png" class="img-fluid" al="diabetes-pic">
            <h5 class="mt-4">Caner</h5>
          </a>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/dignostics/skintest.png" class="img-fluid" al="diabetes-pic">
            <h5 class="mt-4">Skin</h5>
          </a>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/dignostics/sugartest.png" class="img-fluid" al="diabetes-pic">
            <h5 class="mt-4">Sugar</h5>
          </a>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/dignostics/bloodtest.png" class="img-fluid" al="diabetes-pic">
            <h5 class="mt-4">Blood</h5>
          </a>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/dignostics/bones.png" class="img-fluid" al="diabetes-pic">
            <h5 class="mt-4">Orthopedics</h5>
          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/dignostics/brain.png" class="img-fluid" al="diabetes-pic">
            <h5 class="mt-4">Brian</h5>
          </a>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/dignostics/liver.png" class="img-fluid" al="diabetes-pic">
            <h5 class="mt-4">Liver</h5>
          </a>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/dignostics/urine.png" class="img-fluid" al="diabetes-pic">
            <h5 class="mt-4">Urine</h5>
          </a>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/dignostics/heart.png" class="img-fluid" al="diabetes-pic">
            <h5 class="mt-4">Heart</h5>
          </a>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="test-icons mx-4 text-center">
          <a href="#" class="a-link-clr">
            <img src="../../assets/images/dignostics/health checkup.png" class="img-fluid" al="diabetes-pic">
            <h5 class="mt-4">Health Checkups</h5>
          </a>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>

<!--checkups and tests-->


<!--top diagnosics-->
  <section class="wrapper bg-ash1 py-4">
    <div class="dig-block">
    <div class="container">
      <div class="sect-header-txt text-center">
        <h2>Diagnostics and Tests</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.
        </p>
      </div>
    </div>
    <div class="container-fluid">

      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor = "let dia of diagnostics">
          <div class="profile-widget m-3">
            <div class="doc-img">
                
                    <img class="img-fluid" alt="User Image" src="http://3.14.150.254:8000{{dia.image}}">
                
                <a href="javascript:void(0)" class="fav-btn">
                  <i class="fa fa-phone"></i>
                </a>
            </div>
            <div class="pro-content">
                <h3 class="title">
                    <a href="#">{{dia.name}}</a>
                    <i class="fa fa-check-circle verified"></i>
                </h3>

                <div class="rating">
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <span class="d-inline-block average-rating">(17)</span>
                </div>
                <ul class="available-info">
                    <li>
                        <i class="fa fa-map-marker fa-2x1"></i> {{dia.location.city}}, {{dia.location.state}}
                    </li>
                    <li>
                        <i class="fa fa-clock-o fa-2x1"></i> Available on 24/7
                    </li>
                    <li>
                        <i class="fa fa-money fa-2x1"></i> $300 - $1000
                        <i class="fa fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
                    </li>
                </ul>
                <div class="row row-sm">


                        <a routerLink = "/lab/labdescription/{{dia.user.id}}" class="btn book-btn btn-block">Details</a>

                </div>
            </div>
        </div>
        </ng-template>
        <!-- <ng-template carouselSlide>
          <div class="profile-widget m-3">
            <div class="doc-img">
                <a href="doctor-profile.html">
                    <img class="img-fluid" alt="User Image" src="../../assets/images/dignostics/dig4.jpg">
                </a>
                <a href="javascript:void(0)" class="fav-btn">
                  <i class="fa fa-phone"></i>
                </a>
            </div>
            <div class="pro-content">
                <h3 class="title">
                    <a href="doctor-profile.html">Lipid Diagnostics</a>
                    <i class="fa fa-check-circle verified"></i>
                </h3>

                <div class="rating">
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <span class="d-inline-block average-rating">(17)</span>
                </div>
                <ul class="available-info">
                    <li>
                        <i class="fa fa-map-marker fa-2x1"></i> Hyderabad, Telangana
                    </li>
                    <li>
                        <i class="fa fa-clock-o fa-2x1"></i> Available on 24/7
                    </li>
                    <li>
                        <i class="fa fa-money fa-2x1"></i> $300 - $1000
                        <i class="fa fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
                    </li>
                </ul>
                <div class="row row-sm">


                        <a href="booking.html" class="btn book-btn btn-block">Book Now</a>

                </div>
            </div>
        </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="profile-widget m-3">
            <div class="doc-img">
                <a href="doctor-profile.html">
                    <img class="img-fluid" alt="User Image" src="../../assets/images/dignostics/dig5.jpg">
                </a>
                <a href="javascript:void(0)" class="fav-btn">
                  <i class="fa fa-phone"></i>
                </a>
            </div>
            <div class="pro-content">
                <h3 class="title">
                    <a href="doctor-profile.html">Tesla Diagnostics</a>
                    <i class="fa fa-check-circle verified"></i>
                </h3>

                <div class="rating">
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <span class="d-inline-block average-rating">(17)</span>
                </div>
                <ul class="available-info">
                    <li>
                        <i class="fa fa-map-marker fa-2x1"></i> Hyderabad, Telangana
                    </li>
                    <li>
                        <i class="fa fa-clock-o fa-2x1"></i> Available on 24/7
                    </li>
                    <li>
                        <i class="fa fa-money fa-2x1"></i> $300 - $1000
                        <i class="fa fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
                    </li>
                </ul>
                <div class="row row-sm">


                        <a href="booking.html" class="btn book-btn btn-block">Book Now</a>

                </div>
            </div>
        </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="profile-widget m-3">
            <div class="doc-img">
                <a href="doctor-profile.html">
                    <img class="img-fluid" alt="User Image" src="../../assets/images/dignostics/dig6.jpg">
                </a>
                <a href="javascript:void(0)" class="fav-btn">
                  <i class="fa fa-phone"></i>
                </a>
            </div>
            <div class="pro-content">
                <h3 class="title">
                    <a href="doctor-profile.html">Appolo Diagnostics</a>
                    <i class="fa fa-check-circle verified"></i>
                </h3>

                <div class="rating">
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <span class="d-inline-block average-rating">(17)</span>
                </div>
                <ul class="available-info">
                    <li>
                        <i class="fa fa-map-marker fa-2x1"></i> Hyderabad, Telangana
                    </li>
                    <li>
                        <i class="fa fa-clock-o fa-2x1"></i> Available on 24/7
                    </li>
                    <li>
                        <i class="fa fa-money fa-2x1"></i> $300 - $1000
                        <i class="fa fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
                    </li>
                </ul>
                <div class="row row-sm">


                        <a href="booking.html" class="btn book-btn btn-block">Book Now</a>

                </div>
            </div>
        </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="profile-widget m-3">
            <div class="doc-img">
                <a href="doctor-profile.html">
                    <img class="img-fluid" alt="User Image" src="../../assets/images/dignostics/dig7.jpg">
                </a>
                <a href="javascript:void(0)" class="fav-btn">
                  <i class="fa fa-phone"></i>
                </a>
            </div>
            <div class="pro-content">
                <h3 class="title">
                    <a href="doctor-profile.html">Rainbow Diagnostics</a>
                    <i class="fa fa-check-circle verified"></i>
                </h3>

                <div class="rating">
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <span class="d-inline-block average-rating">(17)</span>
                </div>
                <ul class="available-info">
                    <li>
                        <i class="fa fa-map-marker fa-2x1"></i> Hyderabad, Telangana
                    </li>
                    <li>
                        <i class="fa fa-clock-o fa-2x1"></i> Available on 24/7
                    </li>
                    <li>
                        <i class="fa fa-money fa-2x1"></i> $300 - $1000
                        <i class="fa fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
                    </li>
                </ul>
                <div class="row row-sm">


                        <a href="booking.html" class="btn book-btn btn-block">Book Now</a>

                </div>
            </div>
        </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="profile-widget m-3">
            <div class="doc-img">
                <a href="doctor-profile.html">
                    <img class="img-fluid" alt="User Image" src="../../assets/images/dignostics/dig8.jpg">
                </a>
                <a href="javascript:void(0)" class="fav-btn">
                    <i class="fa fa-phone"></i>
                </a>
            </div>
            <div class="pro-content">
                <h3 class="title">
                    <a href="doctor-profile.html">Preethi Diagnostics</a>
                    <i class="fa fa-check-circle verified"></i>
                </h3>

                <div class="rating">
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <i class="fa fa-star filled"></i>
                    <span class="d-inline-block average-rating">(17)</span>
                </div>
                <ul class="available-info">
                    <li>
                        <i class="fa fa-map-marker fa-2x1"></i> Hyderabad, Telangana
                    </li>
                    <li>
                        <i class="fa fa-clock-o fa-2x1"></i> Available on 24/7
                    </li>
                    <li>
                        <i class="fa fa-money fa-2x1"></i> $300 - $1000
                        <i class="fa fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
                    </li>
                </ul>
                <div class="row row-sm">


                        <a href="booking.html" class="btn book-btn btn-block">Book Now</a>

                </div>
            </div>
        </div>
        </ng-template> -->
      </owl-carousel-o>
    </div>
  </div>

  </section>

<!--top diagnosics-->






<!--top diagnstoics-->
<section class="wrapper py-5">

  <div class="container">
      <div class="top-diagnstis">
        <div class="sect-header-txt text-center">
          <h2>Top Diagnostics near by You</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. </p>
        </div>
      </div>

      <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="img-book">
                <img src='../../assets/images/dignostics/dignostics1.jpg' class="img-fluid w-100 cls-radius">
                <div class="button-book">
                  <a href="#" class="btn btn-primary">
                    Book Now
                  </a>
                </div>
              </div>

            </div>


            <div class="col-md-6">
              <div class="img-book">
                <img src='../../assets/images/dignostics/dignostics2.jpg' class="img-fluid w-100 cls-radius">
                <div class="button-book">
                  <a href="#" class="btn btn-primary">
                    Book Now
                  </a>
                </div>
              </div>
          </div>
          </div>
      </div>

        <div class="button-cls text-center mx-auto my-5">
            <a href="#" class="btn btn-primary">Load More</a>
        </div>
  </div>

</section>

<!--top diagnstoics-->
